/**
 * header
 */
#mw-page-base {
  background-image: linear-gradient(#4186fd 0%, #76bbfd 100%);
  height: calc(5em + 5em);

  &::after {
    width: 100%;
    height: 102px;
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    background: url(./japari_logo.png) center no-repeat;
  }
}

#left-navigation,
#right-navigation {
  margin-top: calc(2.5em + 5em);
}
